---
layout: default
---

<div class="container-fluid">

  <div class="row">

    <div class="col-lg-6 col-sm-12 center-block">

      {% include about.html %}

      {% for post in site.posts %}
        {% assign year = post.date | date: "%Y" %}
        {% if year != date %}
          <h3>{{ year }}</h3>
          {% assign date = year %}
        {% endif %}
        <div class="post">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
