<section class="timeline education" id="education">

  <div class="line row timeline-margin">
    <div class="content-wrap">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
      <div class="col-md-9 bg1 full-height"></div>
    </div>
  </div>

  <div class="line row">
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height">
    </div>
    <div class="col-md-8 content-wrap bg1">
      <h2 class="section-title">Education</h2>
    </div>
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
  </div>

  {% for school in site.data.education %}
    <div class="line row">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education "></div>
      <div class="col-md-8 content-wrap bg1">
        <div class="line-content line-content-education">
          <h3 class="section-item-title-1">{{ school.name }}</h3>
          <h4 class="graduation-time"><i class="fa fa-university"></i> {{ school.provider }} - <span class="graduation-date">Graduation {{ school.completed }}</span></h4>
          <div class="graduation-description">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    </div>
  {% endfor %}
</section>
