<meta http-equiv='Content-Security-Policy' content="default-src 'self'; script-src 'self' 'unsafe-inline' steveworley-blog.disqus.com/embed.js a.disquscdn.com/embed.js disqus.com/next/config.js ; style-src 'self' 'unsafe-inline' a.disquscdn.com fonts.googleapis.com maxcdn.bootstrapcdn.com ; font-src 'self' fonts.googleapis.com maxcdn.bootstrapcdn.com fonts.gstatic.com ; img-src 'self' *; media-src 'self' ; frame-src disqus.com;">
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }} -- {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link rel="stylesheet" href="{{ site.data.global.url }}/css/style.css" type="text/css">
