<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" }}" rel="stylesheet">
  <link href="{{ "/vendor/font-awesome/css/font-awesome.min.css" }}" rel="stylesheet">
  <link href="{{ "/vendor/nivo-lightbox/nivo-lightbox.css" }}" rel="stylesheet">
  <link href="{{ "/vendor/nivo-lightbox/themes/default/default.css" }}" rel="stylesheet">
  <link href="{{ "/vendor/nivo-lightbox/themes/default/default.css" }}" rel="stylesheet">

  <link href="{{ "/vendor/animate.css" }}" rel="stylesheet">

  <link href="{{ "/css/styles.css" }}" rel="stylesheet">
  <link href="{{ "/css/syntax.css" }}" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{{ "/vendor/html5shiv.js" }}"></script>
    <script src="{{ "/vendor/respond.min.js" }}"></script>
  <![endif]-->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
