<section class="timeline work-experience" id="works">

  <div class="line row timeline-margin">
    <div class="content-wrap">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
      <div class="col-md-9 bg1 full-height"></div>
    </div>
  </div>

  <div class="line row">
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
    <div class="col-md-8 content-wrap bg1">
      <h2 class="section-title">Work Experience</h2>
    </div>
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
  </div>

  {% for job in site.data.jobs %}
    <div class="line row">
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work"></div>
      <div class="col-md-8 content-wrap bg1">
        <div class="line-content line-content-education">
          <h3 class="section-item-title-1">{{ job.name }}</h3>
          <h4 class="job"><i class="fa fa-flag"></i> {{ job.position }} - <span class="job-date">{{ job.date }}</span></h4>
          <div class="job-description">
            <p>{{ job.description }}</p>
            <h5><strong>Responsibilities</strong></h5>
            <ul>
              {% for point in job.points %}
                <li>{{ point }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    </div>
  {% endfor %}
  
</section>
