<div class="profile-intro row">
  <div class="col-md-4 profile-col">
    <div class="profile-pic">
      <div class="profile-border">
        <img src="{{ "/img/avatar.png" }}" alt="">
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <h1 class="intro-title1">Hi, i'm <span class="color1 bold">Steve Worley!</span></h1>
    <h2 class="intro-title2">Web Developer</h2>
    <p>I'm a programmer who loves <strong>working with open source technology!</strong>. My background is working with PHP and Javascript to provide scalable business solutions. I have worked on a <strong>wide variety of projects</strong> ranging from small brochure websites to <strong>managing large corporation backends</strong>.</p>
  </div>
</div>
