---
layout: default
---

<!-- =============== PROFILE INTRO ====================-->

{% include profile-intro.html %}

<!-- ============  /PROFILE INTRO ================= -->

<!-- ============  TIMELINE ================= -->
<div class="timeline-wrap">
  <div class="timeline-bg">

    <!-- ====>> SECTION: PROFILE INFOS <<====-->
    <section class="timeline profile-infos">

      <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
      <div class="line row timeline-margin">
        <div class="content-wrap">
          <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
          <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
          <div class="col-md-9 bg1 full-height"></div>
        </div>
      </div>
      <!-- /VERTICAL MARGIN -->

      <!-- SECTION TITLE -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height">
        </div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <!-- Section title -->
          <h2 class="section-title">Profile</h2>
          <!-- /Section title -->
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- / Margin Collum-->
      </div>
      <!-- /SECTION TITLE -->

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Full Name</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <p>Steven Worley</p>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
      </div>
      <!-- /SECTION ITEM -->

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Born</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <p>27 Oct 1988 - Wollongong, NSW</p>
            <!-- /Content -->
          </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
      </div>
      <!-- /SECTION ITEM -->

      <!-- SECTION ITEM -->
      <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <h3 class="section-item-title-1">Email</h3>
            <p>sj.worley88@gmail.com</p>
          </div>
        </div>
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      </div>

      <div class="line row">
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <h3 class="section-item-title-1">Find Me On</h3>
            <a href="http://github.com/{{ site.social.github }}" class="btn btn-default"><i class="fa fa-github"></i></a>
            <a href="http://twitter.com/{{ site.social.twitter }}" class="btn btn-default"><i class="fa fa-twitter"></i></a>
            <a href="http://www.linkedin.com/profile/view?id={{ site.social.linkedin }}" class="btn btn-default"><i class="fa fa-linkedin"></i></a>
            <a href="mailto: sj.worley88@gmail.com" class="btn btn-default"><i class="fa fa-paper-plane-o"></i></a>
          </div>
        </div>
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      </div>
    </section>


    {% include education.html %}

    {% include jobs.html %}

    {% include skills.html %}

    <section class="timeline profile-infos">
      <div class="line row timeline-margin timeline-margin-big">
        <div class="content-wrap">
          <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
          <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
          <div class="col-md-9 bg1 full-height"></div>
        </div>
      </div>
      <div class="line row line-thank-you">
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <div class="col-md-8 content-wrap bg1">
          <div class="line-content">
            <h3 class="thank-you">Thank You!</h3>
          </div>
        </div>
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
      </div>
    </section>
  </div>
</div>
