<div class="panel panel-info">

  <div class="panel-heading"><p class="panel-title">Example</p></div>

  <div class="panel-body">

    <p><b>You want to include the Disqus comment plugin.</b></p>

    <p>Implementing the Disqus comment plugin requires that you include javascript provided by Disqus (<code>//rpt-poc.disqus.com/embed.js</code>). If you do not have a CSP you can include the universal embed code and be on your way, but by not having implemented a CSP you open your site up to inclusions and executions from any domain.</p>
  </div>

</div>
